<section id="rules">
    <div class="container" id="rules-base">
        <%- include('./base.html') %>
        <%- include('./crossroads.html') %>
    </div>
    <div class="button" id="button-rules">
        <span class="en">&lt; Close &gt;</span>
        <span class="hover">&lt;<span class="jp">閉める</span>&gt;</span>
    </div>
</section>
