* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "fontasia2",fantasy;
    font-weight: 200;
    line-height: 1;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

div.button {
    @include buttonlike();
}

.jp {
    font-family: "Kozuka Gothic",sans-serif;
}
