@font-face {
    src: url("../../fonts/fontasia2.ttf");
    font-family: "fontasia2";
}
@font-face {
    src: url("../../fonts/RiiPopkkR.otf");
    font-family: "Rii Pop";
}
@font-face {
    src: url("../../fonts/advent-Lt2.otf");
    font-family: "Advent";
}
@font-face {
    src: url("../../fonts/KozGoPr6N-Light.otf");
    font-family: "Kozuka Gothic";
}

@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin transform-origin($x, $y) {
    -webkit-transform-origin: $x $y;
    -moz-transform-origin: $x $y;
    -ms-transform-origin: $x $y;
    -o-transform-origin: $x $y;
    transform-origin: $x $y;
}
@mixin floating-box() {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.9);
}

$title-color: #778574;
$subtitle-color: #E6E7E1;
$error-color: rgba(255, 180, 180, 0.9);