@font-face {
    src: url("../../fonts/fontasia2.ttf");
    font-family: "fontasia2";
}
@font-face {
    src: url("../../fonts/RiiPopkkR.otf");
    font-family: "Rii Pop";
}

@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin transform-origin($x, $y) {
    -webkit-transform-origin: $x $y;
    -moz-transform-origin: $x $y;
    -ms-transform-origin: $x $y;
    -o-transform-origin: $x $y;
    transform-origin: $x $y;
}

$title-color: #778574;
$error-color: rgba(255, 180, 180, 0.9);