@font-face {
    src: url("../../fonts/fontasia2.ttf");
    font-family: "fontasia2";
}
@font-face {
    src: url("../../fonts/RiiPopkkR.otf");
    font-family: "Rii Pop";
}
@font-face {
    src: url("../../fonts/advent-Lt1.otf");
    font-family: "Advent";
}
@font-face {
    src: url("../../fonts/KozGoPr6N-Light.otf");
    font-family: "Kozuka Gothic";
}

@mixin floating-box {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.9);
}
@mixin buttonlike {
    user-select: none;
    cursor: pointer;
}

$title-color: #778574;
$subtitle-color: #E6E7E1;
$error-color: rgba(255, 180, 180, 0.9);