section#title {
    background-color: white;
    background-image: url("../../image/title.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center top;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    color: $title-color;
    opacity: 0;
    @include transition(opacity 2s);

    h1 {
        pointer-events: none;

        position: absolute;
        bottom: 30px;
        z-index: 1;

        width: 100%;

        font-size: 160pt;
        text-align: center;

        opacity: 0;

        @include transition(opacity 2s);
    }
    h2 {
        position: absolute;
        bottom: 10px;
        left: 50%;
        right: 50%;
        z-index: 2;

        height: 58.4px;

        font-size: 60pt;

        opacity: 0;

        @include transition(opacity 2s);

        .en, .hover {
            position: absolute;
            top: 0;
            line-height: 58.4px;
            @include transition(opacity 0.7s);
        }
        .jp {
            font-size: 28pt;
            letter-spacing: -3px;
            white-space: nowrap;
            overflow: visible;
        }
        .en, &:hover .hover { opacity: 1; }
        .hover, &:hover .en { opacity: 0; }
    }
    h3 {
        pointer-events: none;

        position: absolute;
        bottom: 10px;

        width: 100%;

        font-size: 40pt;
        font-family: "Rii Pop",sans-serif;
        text-align: center;
        color: $subtitle-color;

        opacity: 0;

        @include transition(opacity 2s);
    }
    input {
        position: absolute;
        top: -80px;
        left: 25%;

        width: 50%;
        padding-left: 20px;

        color: $title-color;
        font-size: 50pt;

        @include floating-box();

        border-bottom: 2px dotted $title-color;

        @include transition(top 1s, left 2s, box-shadow 0.2s);
        &#game { z-index: 5; }
        &#name { z-index: 4; }

        &.error {
            box-shadow:
                0 0 5px 5px $error-color,
                0 0 5px 2px $error-color inset;
        }
    }
    div.button {
        position: absolute;
        z-index: 3;
        overflow: visible;
        white-space: nowrap;

        height: 70px;

        color: $title-color;
        font-size: 50pt;

        @include floating-box();

        @include transition(top 1.2s, right 2s);

        &#button-names {
            top: -80px;
            right: 25%;
            width: 300px;
        }
        &#button-colors, &#button-options {
            top: 400px;
            right: -75%;
            width: 250px;
        }
        &#button-options {
            top: 450px;
        }

        .en, .hover {
            position: absolute;
            top: 0;
            right: 10px;
            line-height: 70px;
            @include transition(opacity 0.7s);
        }
        .jp {
            font-size: 32pt;
            letter-spacing: -3px;
            vertical-align: text-bottom;
        }
        .en, &:hover .hover { opacity: 1; }
        .hover, &:hover .en { opacity: 0; }
    }

    div#color-form, div#options-form {
        position: absolute;
        top: 250px;
        left: 125%;
        z-index: 3;

        width: 50%;
        padding: 0 32px;

        font-size: 40pt;

        @include floating-box();

        @include transition(left 2s, opacity 0.2s);

        .container { overflow: visible; }
        @for $i from 1 through 5 {
            .select[data-value="#{$i}"] .select-option:nth-child(#{$i - 1}) {
                background-color: rgba(150, 150, 150, 0.3);
                box-shadow: 0 0 10px 1px rgba(150, 150, 150, 0.3);
            }
        }
        .select {
            position: relative;
            width: 100%;
            height: 48px;
            .select-option {
                display: inline-block;
                width: 25%;
                height: 48px;

                text-align: center;

                background-color: transparent;
                box-shadow: none;

                @include transition(background-color 0.5s, box-shadow 0.5s);
                @include buttonlike();
            }
        }
        .checkbox {
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;

            vertical-align: middle;
            margin-left: 32px;

            box-shadow: 0 0 3px 0 $title-color;

            @include border-radius(100%);
            @include buttonlike();

            .inner {
                display: inline-block;

                position: absolute;
                top: -3px;
                left: 4px;
                width: 16px;
                height: 16px;

                font-size: 30px;
                @include border-radius(100%);
            }
            &.checked .inner::before {
                content: "\2713";
                color: rgba(79, 228, 108, 0.7);
            }
        }
    }
}